{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH posts #}
{# This page can use any data from http:localhost:2000/cms/#/form/posts/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this posts's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('posts') }}">View a list of all posts</a></p>





        <!-- Swiper -->
        {% for row in item.slides %}
           <div class="swiper-container">
               <div class="swiper-wrapper">

                   <div class="swiper-slide">
                    <div class="vimeo-container" {% if row.vimeo_link_number == null_value %} style="display:none;" {% endif %}>
                     <iframe src="https://player.vimeo.com/video/{{ row.vimeo_link_number }}" width="500" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                   </div>
                      <span class="image"> <img src="{{ row.image|imageSize(200, 200) }}"/> </span>
                      <span class="text"> {{ row.text }} </span>
                   </div>
              </div>
               </div>
               <!-- Add Pagination -->
       <div class="swiper-pagination"></div>
       <!-- Add Arrows -->
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
             </div>
   {% endfor %}


  {% for row in item.slides %}
<div class="image">

</div>

<div class="text">

</div>

        {% endfor %}


{% endblock %}
