{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH post #}
{# This page can use any data from http:localhost:2000/cms/#/form/post/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this post's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<!--  <p><a href="{{ url('post') }}">back</a></p> -->


      <div class="header-background">
      <span class="logo">{{ item.name }}</span>
      </div>

<div class="individual-post col-xs-12">
    {{ item.wysiwyg_text|safe }}
  </div>


{% endblock %}
